{% extends 'layout.html' %}

{% load static %}

{% block content %}
<section class="contact">
    <div class="container contact_inner">
        <div>
            <h2 class="title">КОНТАКТЫ</h2>
            <p>Индивидуальный предприниматель
                Лахин Владимир Викторович</p>
            <p>Юридический адрес: Российская Федерация, 396907, Воронежская область, Семилукский р-н, село Семилуки, ул. Горького 19.</p>
            <p>ИНН 053406510232
                ОГРНИП 319344300009670
                ОКПО 0144527308
                ОКТМО 20649468
                ОКАТО 20249868001
                ОКФС 16
                ОКОГУ 4210015
                ОКОПФ 50102
                ОКВЭД 43.21</p>
        </div>
        <div>
            <img src="{% static '/img/contact.png' %}">
            <b>Тел. 8 (920) 411-11-59</b>
            <b>Воронеж, пл. Ленина, 8, р-н Центральный</b>
        </div>
    </div>
</section>
{% endblock %}