{% load static %}


<header>
    <div class="container header">
        <img src="{% static '/img/logo.png' %}">
        <p class="address">Воронеж, пл. Ленина, 8, р-н Центральный</p>
        <p class="phone">8 (920) 411-11-59</p>
    </div>
    <div class="subheader">
        <div class="container">
            <li id="show__menu"><a >Раскрыть меню</a></li>
            <li class="disabled" id="hide__menu"><a >Скрыть меню</a></li>
        </div>
        <ul class="container disabled">
            <li class="link"><a href="/">Главная</a></li>
            <li class="link"><a href="/services">Наши услуги</a></li>
            <li class="link"><a href="/portfolio">Портфолио</a></li>
            <li class="link"><a href="/contact">Контакты</a></li>
        </ul>
    </div>
</header>