{% extends 'layout.html' %}

{% load static %}

{% block content %}
<section class="services">
    <div class="container">
        <h2 class="title">НАШИ УСЛУГИ</h2>
        <div class="services__list">
            
            {% for services__item in services %}
            <div class="services__item">
                <img src="{{services__item.img.url}}">
                <p>{{services__item.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}